{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col-md-6">

            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid" src="/app/static/blockchain.jpeg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h4 class="card-title">KenCoin: Keny'as first crypto currency</h4>
                            <p class="card-text">Kencoin is the latest bitcoin currency to invest in... </p>
                        </div>
        
                        <div class="card-footer">
                            <i class="fa fa-thumbs-up">0</i>
                            <i class="fa fa-thumbs-down">0</i>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-column">
                <h5>Trending</h5>
                <div class="card mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="card-title" ><a href="http://" >Cloud Computing</a></p>
                        <p class="card-text">IDEA: A cloud hosting solution</p>
                    </div>
                    <div class="row card-footer">
                        <div class="col-md-6">
                            <small class="text-muted">PostedBy:</small>
                        </div>
                        <div class="col-md-6">
                            <span class="upvote"><i class="fa fa-thumbs-up"></i>0</span>
                            <span class="downvote"><i class="fa fa-thumbs-down"></i>0</span>
                        </div>
                        
                    </div>
                </div>
            
                
                    
                </div>
                
                
            </div>

        </div>
        

    </div>
    

        
    </div>
</div>
{% endblock %}