<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav nav">
            <li class="nav-item active" style="list-style: none;">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {% for category in categories %}
            <li class="nav-item active" style="list-style: none;">
                <a class="nav-link" href="{{url_for('.category',id=category.id)}}">{{category.name}} <span class="sr-only">(current)</span></a>
            </li>
               
            {% endfor %}
           
           
           
           
           
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated%}
            <li><a href="/">Profile: {{current_user.username.capitalize()}}</a></li>
            <li><a href="{{url_for('auth.logout')}}"><i class="fa fa-user"></i>Sign out</a></li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}"><i class="fa fa-sign-in-alt"></i> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>